@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  outline: 1px solid pink;
} */

body {
  margin: 0;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(248 250 252);
}

#root {
  height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.body-page {
  flex-grow: 1;
}

h1, h2, nav {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.slick-next, .slick-prev {
  width: 25px!important;
  height: 25px!important;
}

.slick-prev:before, .slick-next:before {
  opacity: .85!important;
  font-size: 30px!important;
  
}